In [1]:
import sys
print(sys.executable)

C:\Users\Izzah Alia\anaconda3\python.exe

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\izzah alia\anaconda3\lib\site-packages (1.26.4)Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\izzah alia\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\izzah alia\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\izzah alia\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\izzah alia\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\izzah alia\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\izzah alia\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\izzah alia\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.21 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\izzah alia\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\izzah alia\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [6]:
games = pd.read_csv('data/computer_games.csv')

In [7]:
games.head(5)

,Name,Developer,Producer,Genre,Operating System,Date Released
0,A-Men 2,Bloober Team,Bloober Team,"Adventure, Puzzle",Microsoft Windows,"June 24, 2015"
1,A-Train,Artdink,"Artdink, Maxis, Ocean Software",Vehicle Simulation Game,"Windows, Mac",1985
2,A-10 Cuba!,Parsoft Interactive,Activision,Flight simulator,"Windows, Mac","November 30, 1996"
3,A.D. 2044,R.M.P. Software,LK Avalon,Adventure,Microsoft Windows,"September 6, 1996"
4,A.D.A.M. Life's Greatest Mysteries,Columbia Healthcare Corporation,Columbia Healthcare Corporation,Educational,Microsoft Windows,1996

In [8]:
games.shape

(1095, 6)

In [9]:
games['Genre'].value_counts()

Genre
First-person shooter                                 103
RTS                                                   48
Action-adventure                                      42
Sports                                                34
Role-playing                                          33
                                                    ...
Tower defense, action RPG                              1
Roguelike, indie                                       1
Construction and management simulation, Roguelike      1
4X                                                     1
Adventure game                                         1
Name: count, Length: 282, dtype: int64

In [10]:
games.columns

Index(['Name', 'Developer', 'Producer', 'Genre', 'Operating System',
       'Date Released'],
      dtype='object')

In [11]:
games.isnull().sum()

Name                0
Developer           0
Producer            0
Genre               0
Operating System    0
Date Released       0
dtype: int64

In [12]:
games.duplicated().sum()

0

In [13]:
games.iloc[0]

Name                          A-Men 2
Developer                Bloober Team
Producer                 Bloober Team
Genre               Adventure, Puzzle
Operating System    Microsoft Windows
Date Released           June 24, 2015
Name: 0, dtype: object

In [14]:
games.head(4)

,Name,Developer,Producer,Genre,Operating System,Date Released
0,A-Men 2,Bloober Team,Bloober Team,"Adventure, Puzzle",Microsoft Windows,"June 24, 2015"
1,A-Train,Artdink,"Artdink, Maxis, Ocean Software",Vehicle Simulation Game,"Windows, Mac",1985
2,A-10 Cuba!,Parsoft Interactive,Activision,Flight simulator,"Windows, Mac","November 30, 1996"
3,A.D. 2044,R.M.P. Software,LK Avalon,Adventure,Microsoft Windows,"September 6, 1996"

In [15]:
games = pd.DataFrame({col: (games[col].str.replace(' ', '') if games[col].dtype == "object" else games[col]) for col in games.columns})

In [16]:
games.head(4)

,Name,Developer,Producer,Genre,Operating System,Date Released
0,A-Men2,BlooberTeam,BlooberTeam,"Adventure,Puzzle",MicrosoftWindows,"June24,2015"
1,A-Train,Artdink,"Artdink,Maxis,OceanSoftware",VehicleSimulationGame,"Windows,Mac",1985
2,A-10Cuba!,ParsoftInteractive,Activision,Flightsimulator,"Windows,Mac","November30,1996"
3,A.D.2044,R.M.P.Software,LKAvalon,Adventure,MicrosoftWindows,"September6,1996"

In [34]:
games = games.rename(columns={
    'Operating System': 'OperatingSystem',
    'Date Released': 'DateReleased',
})

In [36]:
games.head(5)

,Name,Developer,Producer,Genre,OperatingSystem,DateReleased
0,A-Men2,BlooberTeam,BlooberTeam,"Adventure,Puzzle",MicrosoftWindows,"June24,2015"
1,A-Train,Artdink,"Artdink,Maxis,OceanSoftware",VehicleSimulationGame,"Windows,Mac",1985
2,A-10Cuba!,ParsoftInteractive,Activision,Flightsimulator,"Windows,Mac","November30,1996"
3,A.D.2044,R.M.P.Software,LKAvalon,Adventure,MicrosoftWindows,"September6,1996"
4,A.D.A.M.Life'sGreatestMysteries,ColumbiaHealthcareCorporation,ColumbiaHealthcareCorporation,Educational,MicrosoftWindows,1996

In [38]:
games['Developer'].value_counts()

Developer
Maxis                    30
Valve                    20
SquareEnix               18
BlizzardEntertainment    18
UbisoftMontreal          17
                         ..
EagleDynamics             1
MimimiGames               1
PositechGames             1
ZombieStudios             1
TribecaInteractive        1
Name: count, Length: 583, dtype: int64